.logo{
    height: 420px;
    width: 405px;
}

.bgColor{
    background-color: #B3B3BC;
    border-radius: 20px;
}

.white{
    color: white;
}

.signIN{
    width: 137px;
    height: 52px;
}


.custom-select{
    height: 40px;
    width: 100%;
}